//BOOTSTRAP VUE
//@import 'node_modules/bootstrap/scss/bootstrap.scss';
//@import 'node_modules/bootstrap-vue/src/index.scss';

// Variables
@import 'variables';

@import 'theme.css';

@import "~filepond/dist/filepond.min.css";
@import "~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";
@import '~filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css';

//vue multiselect3
@import "@vueform/multiselect/themes/default.css";
// Define variable defaults BOOTSTRAP VUE
//$body-bg: #000;
//$body-color: #111;

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.main-content {
    padding: 75px 20px 20px !important;
}

.dropdown-menu-c {
    width: 200px !important;
}

.action-btn {
    color: #020202 !important;
    border: unset !important;
    background-color: unset !important;
    border-radius: 50% !important;
    padding: 0.1rem 0.5rem !important;
}

.action-btn:hover {
    background-color: #dce4eb !important;
}

.action-btn:focus {
    background-color: #dce4eb !important;
    box-shadow: unset !important;
}

.action-dropdown {
    padding: 0.1rem 0 !important;
    min-width: 8rem;
}

.action-divider {
    margin: 0.1rem 0 !important;
}

.filepond--wrapper {
    width: 15rem !important;
}

//TABSTYLE
.tab {
    overflow: hidden;
    border: 1px solid #ccc cv z;
    //background-color: #f1f1f1;
    background-color: #011744;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: bold;
    color: rgb(236, 237, 194) !important;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(103, 99, 22);
    color: #f3ec11 !important;
}

/* Create an active/current tablink class */
/*color: #fff;
      background-color: #6c757d;*/
.tab button.active {
    color: #f6f3f3 !important;
    font-weight: bold;
    background-color: #cd3706;
}

.tab button.active:hover {
    background-color: rgb(243, 102, 7);
    color: #f3ec11 !important;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(157, 157, 157);
    border-top: none;
}
